<div class="product-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group product-form__input">
      <label for="title">Name</label>
      <input 
        class="form-control"
        type="text"
        id="title"
        required
        formControlName="title"
        (input)="onInput()"
      >
      <span class="has-error" *ngIf="form.get('title').invalid && form.get('title').touched">
        Invalid product name
      </span>
    </div>

    <div class="form-group product-form__input">
      <label for="price">Price</label>
      <input 
        class="form-control"
        type="text"
        id="price"
        required
        formControlName="price"
        (input)="onInput()"
      >
      <div class="has-error" *ngIf="form.get('price').invalid && form.get('price').touched">
        Invalid product price
      </div>
    </div>

    <input 
      class="btn btn-success"
      [class.btn-disabled]="form.invalid"
      type="submit" value="Update"
      [disabled]="form.invalid"
    >
    <br>
  </form>
  <div *ngIf="form.valid && isSubmited" type="success">
    <strong>Updated!</strong>
  </div>
</div>