<div class="products-container">
  <ng-container *ngIf="!products">
    Loading...
  </ng-container>
  <ng-container *ngIf="products">
    <div *ngFor="let product of products" class="card" style="width: 18rem;">
      <div class="card-body">
        <img [src]="product.image" class="card-img-top" alt="{{product.title}}">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price}} ₴</p>
        <a routerLink="/product/{{product.id}}" class="btn btn-primary mr-2">Go to details</a>
        <button type="button" 
          class="btn btn-success" 
          data-toggle="modal" 
          [attr.data-target]="'#editModal' + product.id"
        >Edit</button>
        <!-- Modal -->
        <div class="modal fade" id="editModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit the product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <app-edit-form *ngIf="product" [product]="product"></app-edit-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

