.products-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 60px auto;
  justify-content: center;
}

.card-img-top {
  max-height: 180px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.card-title {
  margin-top: 0.75em;
}

.modal {
  padding-right: 0 !important;
}

@media screen and (max-width: 592px) {
  .card {
    margin-bottom: 45px;
  }
}