<ng-container *ngIf="!product">
  <div class="container product">
    <div class="mt-5" >Loading...</div>
  </div>
</ng-container>

<ng-container *ngIf="product">
  <div class="container product">
    <h1 class="mt-5">{{product?.title}}</h1>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img [src]="product?.image" class="product__img" alt="{{product?.title}}">
      </div>
      <div class="col-md-8">
        <p class="lead">
          Price: <code>{{product?.price}} ₴</code>
        </p>
        <p class="lead">
          Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Non recusandae dolores aliquam voluptatem ut quaerat vel cupiditate amet minima 
          excepturi numquam vitae, facere nostrum alias magni perspiciatis aliquid provident deserunt!
        </p>
        <p>Back to <a routerLink="/products/">the store</a></p>
      </div>
    </div>
    <br>
    <h3 class="mb-4 mt-4">You can edit the product:</h3>
    <app-edit-form [product]="product"></app-edit-form>
  </div>
</ng-container>